*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
}

/* video background rules */
#root {
  display: flex;
  flex-direction: column;
}
.app-wrapper {
  display: flex;
  min-width: 100%;
  border: 2ppx solid red;
}
.video-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  min-width: 100% !important;
  min-height: 100% !important;
  object-fit: cover;
}
.content {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}